@model Contoso2.Models.Student
@{
    ViewBag.Title = "Details";
}

<table>
    <tr>
        <td>

        </td>

    </tr>

    <tr>
        <td>
            @Model.FirstMidName

        </td>

    </tr>
    <tr>
        <td>
            @Model.LastName

        </td>

    </tr>

</table>


