@model Contoso2.Models.Student
@{
    ViewBag.Title = "Details";
}

@foreach (var item in Model.Enrollments)
{
 
    @item.Course.Title
    @item.Grade

}
<table>

    <tr>
        <td>
            @Model.FirstMidName

        </td>

    </tr>
    <tr>
        <td>
            @Model.LastName

        </td>

    </tr>

</table>


